<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shz.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shz.entity.Department">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parentId" property="parentId" />
        <result column="isParent" property="isParent" />
    </resultMap>

    <resultMap id="DepartmentWithChildren" type="com.shz.entity.Department" extends="BaseResultMap">
        <collection property="children" ofType="com.shz.entity.Department"
                    select = "com.shz.mapper.DepartmentMapper.getAllDepartmentsByParentId" column="id">
        </collection>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parentId, isParent
    </sql>



    <!--查询所有部门-->
    <select id="getAllDepartmentsByParentId" resultMap="DepartmentWithChildren">
        select
        <include refid="Base_Column_List" />
        from department
        where parentId = #{parentId}
    </select>

</mapper>